/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  background-color: #BCCEF8;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  background-color: #00E7FF;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #9694FF;
  margin-bottom: 0.5rem;
}

.table-header {
  font-weight: bold;
  margin: 10px;
}

.table-row button {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .table-header,
  .table-row {
      flex-direction: column;
      text-align: center;
  }

  .button-group {
      flex-direction: column;
  }
}
